html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ff5757;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  color: #fff0ee;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

button {
  padding: 8px 16px;
  border: 2px solid #fff0ee;
  box-shadow: 1px 1px 0 rgba(255, 193, 187, 0.8);
  border-radius: 8px;
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff0ee;
}

button.start {
  margin: 10px auto 0;
  display: block;
  background-color: rgba(252, 3, 3, 0.8);
}

#levels {
  padding: 5px;
  background-color: rgba(252, 3, 3, 0.8);
  border: 2px solid #fff0ee;
  box-shadow: 1px 1px 0 rgba(255, 193, 187, 0.8);
  border-radius: 8px;
  font-size: 20px;
  color: white;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.selectLevel {
  text-align: left;
}
.header {
  position: sticky;
  margin: 20px 40px 0;
}
.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 24px;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("./dirt.svg") bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("./mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.scale {
  scale: 1.5;
}
